<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<form action="/users/user/register" method="post">
			<div>
				<label for="user_account">用户名</label>
				<input type="text" name="user_account" id="user_account" placeholder="用户名" />
			</div>
			<div>
				<label for="user_password">密码</label>
				<input type="password" name="user_password" id="user_password" placeholder="密码" /> 
			</div> 
			<div>
				<label for="user_password">邮箱</label>
				<input type="email" name="email" id="email" placeholder="email" /> 
			</div> 
				<input type="submit" value="注册" />
		</form>
	</body>
</html>
